<h1 class="page-header"><%= @feed.feed_name %>
	 <% if user_signed_in? %>
	 <div class="pull-right">
		<%= link_to 'refresh feed', feed_refresh_feed_path(@feed.id), :method=> :post, :remote => true, :class=>"btn btn-primary" %>
   </div>
</h1>
	<% end %>
<br><br>
<div class="blog container">

		<div class="row">
				<div id="blog-mansonry" class="blog-list">
			  <% @feed_entry.each do |feed| %>
						<%= render partial: 'feed_entry', locals: {feed: feed} %>
        <% end %>
</div>
</div>
<div class="text-center">
		<%= will_paginate @feed_entry, renderer: BootstrapPagination::Rails %>
</div>
</div>
