<div id="blue">
		<div class="container">
		<div class="row">
			<h3><%= @feed.feed_name %></h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>

<div class="blog container">

		<div class="row">
				<div id="blog-mansonry" class="blog-list">
						<%= render @feed_entries %>
      	</div>
    </div>
<div class="text-center">
		<%= will_paginate @feed_entries %>
</div>

</div>
