<div id="blue">
		<div class="container">
		<div class="row">
			<h3><%= @category.category_name %></h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->

<% if @feeds.any? %>

<br>
<div class="blog container">

		<div class="row">
				<div id="pins" class="blog-list">
					<% @feeds.each do |feed| %>
						<% cache feed do %>
							<%= render feed %>
						<% end %>
					<% end %>
        </div>
    </div>


<div id="infinite-scrolling">
	<%= will_paginate @feeds %>
</div>
</div>

<br><br><br><br><br><br>

<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
