
    <div id="h">
      <div class="logo">turelo</div>
      <div class="social hidden-xs">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-facebook"></i></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
						<br>
            <h1>turelo - fast, simple, rss</h1>
						<h3>click below to start reading</h3>
            <div class="mtb">
								<% if user_signed_in? %>
									<%= link_to 'head to turelo', overviews_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
								<% else %>
								  <%= link_to 'sign in', overviews_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--accent"  %>
									<%= link_to 'sign up', new_user_registration_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--accent" %>
								<% end %>
            </div><!--/mt-->
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
