<div class="banner">
  <%= image_tag("lightbulb.png", class: "container-image") %>
  <h1 class="title">quizzle.me</h1>
  <p class="description">Just random facts, nothing more nothing less....</p>
<a href="https://play.google.com/store/apps/details?id=me.kebabman.quizzle">
    <img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" style="width: 15%; height: 15%" />
</a>

  <%= image_tag("header-android.png") %>
</div><!-- /container -->

<div class="divider"></div>

<!-- Services -->
 <section class="services-section" id="section-1">

   <div class="container">


     <div class="row">

       <div class="col-md-4 col-services">

         <!-- Icons -->
         <figure>
           <%= image_tag("Balloons.png", class: "img-services") %>
         </figure>

         <!-- Title -->
         <h4>facts</h4>

         <!-- Description -->
         <p>A growing database of facts, facts about animals, about business, about food, about sports and growing each and every day - all verified by cats.</p>

       </div> <!-- /.col-md-4 -->

       <div class="col-md-4 col-services">

         <!-- Icons --><br>
         <figure>
           <%= image_tag("Wind-Sock.png", class: "img-services img-margin") %>
         </figure>

         <!-- Title -->
         <h4>api</h4>

         <!-- Description -->
         <p>Private API that will be launching in the near future so other people can build awesome apps with our facts.</p>


       </div> <!-- /.col-md-4 -->

       <div class="col-md-4 col-services"><br>
         <!-- Icons -->
         <figure>
           <img src="https://api.icons8.com/download/5814b9457c13eb34677792742559b9f459b9eafc/Color/PNG/256/Very_Basic/lock-256.png" title="Lock" width="256" class="img-services" >
         </figure>

         <!-- Title -->
         <h4>privacy</h4>

         <!-- Description -->
         <p>We take privacy pretty seriously, thats why we dont ask you to sign up, log in or anything like that we dont track device ID's or ask for special permissions.</p>


       </div> <!-- /.col-md-4 -->

     </div> <!-- /.row -->

   </div> <!-- /.container -->

 </section> <!-- /.services-section -->


<!-- Subscribe -->
 <section class="subscribe-section" id="section-3">

   <div class="container">

     <div class="row">

       <div class="col-md-12">

         <!-- Title -->
         <h3 class="title">give us your details and we will let you know when new stuff comes online</h3>

         <!-- Subscribe form -->
         <div class="row">

           <div class="col-md-6 col-md-offset-3 col-subscribe">

             <form class="subscribe-form form-inline" action="./index.html" role="form">

               <!-- Input -->
               <div class="form-group">

                 <label class="sr-only" for="exampleInputEmail1">Email address</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email address">

               </div> <!-- /.form-group -->

               <!-- Button -->
               <button class="btn btn-success" type="submit">Subscribe</button>

             </form> <!-- /.subscribe-form -->


           </div> <!-- /.col-md-6 -->

         </div> <!-- /.row -->

       </div> <!-- /.col-md-12 -->

     </div> <!-- /.row -->

   </div> <!-- /.container -->

 </section> <!-- /.subscribe-section -->
