<%= content_for :page_title do %> | feeds admin <% end %>

<br><br>

<div class="mdl-grid center-items">
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<thead>
 <tr>
	 <th>feed title</th>
	 <th>feed ID</th>
	 <th>created at</th>
	 <th>entries</th>
	 <th>category</th>
	 <th colspan="2">actions</th>
 </tr>
</thead>
<tbody>
  <% @feeds.each do |feed| %>
  	<%= render partial: 'table_row', locals: {feed: feed} %>
  <% end %>
</tbody>
</table>
</div>
<div class="text-center">
	<%= will_paginate @feeds %>
</div>

<!-- Colored FAB button with ripple -->
<div id="form-fab" class="fab">
<button id="show-form" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>
</div>
<div class="mdl-tooltip mdl-tooltip--left" for="form-fab">
Add a new feed
</div>

<%= render 'form' %>

<script>
	var dialog = document.querySelector('dialog');
	var showDialogButton = document.querySelector('#show-form');
	if (! dialog.showModal) {
		dialogPolyfill.registerDialog(dialog);
	}
	showDialogButton.addEventListener('click', function() {
		dialog.showModal();
	});
	dialog.querySelector('.close').addEventListener('click', function() {
		dialog.close();
	});
</script>
