# Configure third-party service credentials
# in environment variables:
option_settings:
  - option_name: RAILS_SECRET_KEY
    value: 2530e71a4786fb384b302de1d409b6a5c65ac63efb36d37321f24587d38df8f86ef51d5775c7452b6c722190036c7ede9242242c9dc62410399021934f311bcf
  - option_name: SIDEKIQ_URL
    value: redis://hannah-co.nzpac7.0001.use1.cache.amazonaws.com:6379
  - option_name: SMTP_HOST
    value: email-smtp.us-east-1.amazonaws.com
  - option_name: SMTP_USERNAME
    value: AKIAJ56GFTGSJS2TPYGQ
  - option_name: SMTP_PASSWORD
    value: Am1SaNb1s9HyucfKQRuuKndNnSMXHz0mg42+lAtRUHXY
  - option_name: SMTP_DOMAIN
    value: turelo.me
  - option_name: RDS_DB_NAME
    value: turelo_production
  - option_name: RDS_USERNAME
    value: turelo_user
  - option_name: RDS_PASSWORD
    value: ZaFR55DOYf6n
  - option_name: RDS_HOSTNAME
    value: turelo-production.ctkdbev1e7ws.us-east-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 5432
  - option_name: ELASTICSEARCH_URL
    value: https://search-hannah-co-iz5zqdizfnvbcakilmrt22wwnm.us-east-1.es.amazonaws.com
