<div id="blue">
		<div class="container">
		<div class="row">
			<h3>home feed
				<% if params[:tag].present? %>
				|	<%= params[:tag] %>
				<% end %>

			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br>


<% if @feed_entries.any? %>

<div class="container">
   <ul class="timeline" id="my-entries">
						<%= render @feed_entries %>
   </ul>

  <div id="infinite-scrolling">
		<%= will_paginate @feed_entries %>
  </div>

	<br><br><br><br><br><br>
</div>


<% else %>

 <%= render 'layouts/no_data' %>

<% end %>

<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
