<div id="blue">
		<div class="container">
		<div class="row">
			<h3>home feed</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br>


<% if @feed_entries.any? %>

<div class="container">
   <ul class="timeline">
						<%= render @feed_entries %>
   </ul>
  <div class="text-center">
		<%= will_paginate @feed_entries %>
  </div>
</div>


<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
