<div id="blue">
		<div class="container">
		<div class="row">
			<h3>
				<%= current_user.nickname %>'s notifications | <%= @notifications.count %> unread notifications
			</h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue -->

<% if @notifications.any? %>

<div class="container">

	<% @notifications.each do |notification| %>
			<%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
	<% end %>

<br><br><br><br><br><br>
</div>

<% else %>

<%= render 'layouts/no_data' %>

<% end %>
