<% if @notifications.any? %>

<div class="container">

	<% @notifications.each do |notification| %>
			<%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
	<% end %>

<br><br><br><br><br><br>
</div>

<% else %>

<%= render 'layouts/no_data' %>

<% end %>
