<div id="blue">
		<div class="container">
		<div class="row">
			<h3>
        editing - <%= @feed.feed_name%>
        <div class="pull-right">
          <%= link_to 'back', admin_feeds_path, :class=>"btn btn-primary" %>
        </div>
      </h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>

<div class="container">

<%= render 'form' %>

</div>
