<%= content_for :page_title do %>

 | <%= pluralize(@users.count, 'user') %>

<% end %>

<div class="container">

<table class="table table-striped" id='feeds_table'>
<thead>
 <tr>
  <th>username or email</th>
  <th>Joined</th>
  <th>Visits</th>
  <th>Most Recent / IP</th>
	<th>Is Active</th>
  <th colspan="2">Actions</th>
 </tr>
</thead>
<tbody>
  <% @users.each do |user| %>
  	<%= render partial: 'table_row', locals: {user: user} %>
  <% end %>
</tbody>
</table>

<div class="text-center">
	<%= will_paginate @users, :renderer => BootstrapPagination::Rails  %>
</div>


</div>
