<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCategoryModal">
  New Category
</button>

<br><br><br>

<table class="table">
<thead class="thead-inverse">
 <tr>
  <th>category</th>
	<th>category description</th>
  <th>created at</th>
  <th colspan="2">Actions</th>
 </tr>
</thead>
<tbody>
  <% @categories.each do |category| %>
  	<%= render partial: 'table_row', locals: {category: category} %>
  <% end %>
</tbody>
</table>
</div>
<div class="text-center">
	<%= will_paginate @categories %>
</div>


<!-- Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
	<%= render 'form' %>
</div>