<div id="blue">
		<div class="container">
		<div class="row">
			<h3><%= @category.category_name %>
      </h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>

<div class="container">
<p>
  <strong>Category Name:</strong>
  <%= @category.category_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.category_description %>
</p>

<p>
  <strong>Feeds:</strong>
  <%= @category.feeds %>
</p>

</div>
