<br><br><br><br><br><br><br>


<div class="container">
   <div class="row text-center">
     <%= image_tag("lightbulb.png", size: "500") %>
     <br><br><br>
     <h3 class="title">ohhhh noooooooooo</h3>
      <p class="subtitle">how did you break stuff so hard</p>
   </div>
 </div>
