<br><br><br><br><br><br><br>
<%= image_tag("newspaper.png", :size => "300x300", :class => "center-block img-circle") %>
<br><br>

<h3 class="text-center">
the cats got into the server and did something<br>
hold on a tick, we will send you on ya way<br>
</h3>
