<br><br><br><br><br><br><br>


<div class="container">
   <div class="row text-center">
     <%= image_tag("lightbulb.png", size: "500") %>
     <br><br><br>
     <h3 class="title">ohhhh noooooooooo</h3>
      <p class="subtitle">look we lost it alright - please dont make this any harder then it is already</p>
   </div>
 </div>
