/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require nprogress
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import 'material';

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.quizzle-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.quizzle-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}

.body-padding {
	padding-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
}

.mdl-textfield--expandable {
  width: auto;
}

.quizzle-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.quizzle-mobile-title {
  display: none !important;
}



.quizzle-header {
  overflow: visible;
  background-color: #00b3fe;
}

  .quizzle-header .material-icons {
    color: white !important;
  }

  .quizzle-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .quizzle-header .mdl-navigation__link {
    color: white;
    font-size: 14px;
  }

  .quizzle-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .quizzle-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .quizzle-search-box.is-focused + .quizzle-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .quizzle-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .quizzle-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid white;
    }

  .quizzle-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .quizzle-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.quizzle-drawer {
  border-right: none;
}

  .quizzle-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .quizzle-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .quizzle-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .quizzle-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .quizzle-drawer .quizzle-logo-image {
      position: absolute;
      bottom: 16px;
    }

.quizzle-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('images/slide01.jpg') center 30% no-repeat;
  background-size: cover;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.quizzle-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.quizzle-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.quizzle-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .quizzle-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.quizzle-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.quizzle-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.quizzle-screen {
  text-align: center;
}

.quizzle-screen .quizzle-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.quizzle-image-link {
  text-decoration: none;
}

.quizzle-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .quizzle-wear .quizzle-screen-image {
    width: 40%;
    z-index: 1;
  }


.quizzle-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .quizzle-phone .quizzle-screen-image {
    width: 100%;
    z-index: 1;
  }


.quizzle-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .quizzle-tablet .quizzle-screen-image {
    width: 100%;
    z-index: 1;
  }

  .quizzle-tablet .quizzle-link {
    display: block;
    z-index: 2;
  }


.quizzle-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .quizzle-tv .quizzle-screen-image {
    width: 100%;
    z-index: 1;
  }


.quizzle-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .quizzle-auto .quizzle-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.quizzle-wear-section {
  position: relative;
  background: url('images/wear.png') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.quizzle-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.quizzle-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .quizzle-wear-band-text p {
    padding-top: 8px;
  }

.quizzle-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .quizzle-link:hover {
    color: #7cb342 !important;
  }

  .quizzle-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.quizzle-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .quizzle-alt-link:hover {
    color: #00bfa5 !important;
  }

  .quizzle-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.quizzle-customized-section {
  text-align: center;
}

.quizzle-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .quizzle-customized-section-text p {
    padding-top: 16px;
  }

.quizzle-customized-section-image {
  background: url('images/devices.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.quizzle-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .quizzle-more-section .quizzle-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.quizzle-card-container {
}

  .quizzle-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .quizzle-card-container .mdl-card__media img {
      width: 100%;
    }

  .quizzle-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .quizzle-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .quizzle-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .quizzle-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .quizzle-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.quizzle-footer {
  background-color: #fafafa;
  position: relative;
}

  .quizzle-footer a:hover {
    color: #8bc34a;
  }

  .quizzle-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .quizzle-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .quizzle-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .quizzle-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .quizzle-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.quizzle-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .quizzle-navigation-container {
    display: none;
  }

  .quizzle-title {
    display: none !important;
  }

  .quizzle-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .quizzle.quizzle-search-box.is-focused ~ .quizzle-mobile-title,
  .quizzle-search-box.is-focused + .quizzle-navigation-container + .quizzle-mobile-title {
    opacity: 0;
  }

  .quizzle-more-button {
    display: none;
  }

  .quizzle-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .quizzle-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .quizzle-be-together-section {
    height: 350px;
  }

  .quizzle-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .quizzle-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .quizzle-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .quizzle-create-character img {
    height: 12px;
  }

  .quizzle-fab {
    display: none;
  }

  .quizzle-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .quizzle-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}


.black {
	color: black;
}

.feed-entry-card-wide.mdl-card {

}

.feed-entry-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: image-url("newspaper.png") center / cover;
}

.feed-entry-card-wide > .mdl-card__menu {
  color: #fff;
}

.feed-entry-ribbon {
  width: 100%;
  height: 40vh;
	  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.feed-entry-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.feed-entry-header .mdl-layout__header-row {
  padding-left: 40px;
}

.feed-entry-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.feed-entry-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.feed-entry-layout.is-small-screen .feed-entry-content {
  padding: 40px 28px;
}

.feed-entry-content h3 {
  margin-top: 48px;
}

.feed-entry-footer {
  padding-left: 40px;
}

.feed-entry-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.mdl-layout-login {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
