/* Blog homepage */
.blog-list .post {
  padding: 0 15px;
  margin-bottom: 30px;
}
.blog-list .post .post-inner {
  padding: 0px;
  position: relative;
  border: 1px solid #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05);
}
.blog-list .post .post-thumb {
  background: #253340;
  overflow: hidden;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.blog-list .post .post-thumb img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 auto;
  text-align: center;
}
.blog-list .post .post-thumb img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.blog-list .post .content {
  padding: 30px;
  padding-bottom: 15px;
  color: #666666;
}
.blog-list .post .content .post-title {
  margin-top: 0;
  font-size: 18px;
}
.blog-list .post .content .post-title a {
  color: #253340;
}
.blog-list .post .content .post-entry {
  margin-bottom: 15px;
}
.blog-list .post .content .meta {
  font-size: 13px;
  color: #999999;
  margin-bottom: 0;
}
.blog-list .post .content .meta ul {
  margin-left: 0;
  border-top: 1px solid #efefef;
  padding-top: 15px;
}
.blog-list .post .content .meta li:first-child {
  padding-left: 0;
}
.blog-list .post .content .meta li .fa {
  margin-right: 5px;
}
.blog-list .post .content .meta li a {
  color: #999999;
}
.blog-list .post .content .meta li a:hover {
  color: #28a5a8;
}
