<div id="blue">
		<div class="container">
		<div class="row">
			<h3>categories
      </h3>
		</div><!-- /row -->
		</div> <!-- /container -->
</div><!-- /blue --><br><br>

<% if @categories.any? %>


<div class="blog container">

		<div class="row">
				<div id="my-entries" class="blog-list">
					<% @categories.each do |category| %>
						<% cache category do %>
							<%= render category %>
						<% end %>
					<% end %>
        </div>
    </div>


<div id="infinite-scrolling">
	<%= will_paginate @categories %>
</div>
</div>

<br><br><br><br><br><br>

<% else %>

 <%= render 'layouts/no_data' %>

<% end %>
