<div class="notification-item">
 <h4 class="item-title"><%= FeedEntry.find(notification.notifiable_id).feed.feed_name %> published <%= link_to FeedEntry.find(notification.notifiable_id).title, category_feed_feed_entry_path(FeedEntry.find(notification.notifiable_id).feed.category_id, FeedEntry.find(notification.notifiable_id).feed.friendly_id, FeedEntry.find(notification.notifiable_id).id) %></h4>
 <p class="item-info">
   <% if FeedEntry.find(notification.notifiable_id).summary.blank? %>
     <%= strip_tags(FeedEntry.find(notification.notifiable_id).feed_entry_content).truncate(300) %>
   <% else %>
     <%= strip_tags(FeedEntry.find(notification.notifiable_id).summary).truncate(300) %>
   <% end %>
 </p>
</div>
