<br><br><br><br><br>
<div class="row text-center roboto-font">
<h1><i class="icon ion-sad-outline"></i></h1><br>
<h3>hey - why not add a feed?</h3><br>
<h4><%= link_to 'feeds', categories_path %></h4>
<br>

</div>
