<br><br>

<div class="jumbotron">
<h1 class="display-3">hey - why not add a feed?</h1>
<br>
<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
<br>
<p class="lead">
  <%= link_to 'add a feed', categories_path, { :class=>"btn btn-primary btn-lg" } %>
</p>
</div>



