<!DOCTYPE html>
<html>
<head>
  <title>turelo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body>

  <body>

	<%= yield %>



    <footer class="footer-section" role="contentinfo">

      <div class="container">

        <div class="row">

          <div class="col-md-4 col-footer">

            <!-- Footer 1 -->
            <section><br>
              <p>made with <i class="fa fa-heart"></i> by Hannah-Co</p>
            </section>


          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer col-padding">

            <!-- Footer 1 -->


            <!-- Social media links -->
            <ul class="social-media-links">
                <br><br>
              <li><a class="fa fa-twitter tw" href="https://twitter.com/quizzle_me"></a></li>
              <li><a class="fa fa-facebook fb" href="https://www.facebook.com/quizzlemeapp/"></a></li>

            </ul> <!-- /.social-media-links -->

          </div> <!-- /.col-md-4 -->

          <div class="col-md-4 col-footer">

            <!-- Footer 1 -->
            <section>
              <p>We really like random facts, so much that we decided to create an app and API to deliver the freshest random facts on demand.</p>
            </section>

          </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->

      </div> <!-- /.container -->

    </footer> <!-- /.footer-section -->


  </body>
</html>
